body{
    padding: 0;
    max-width: 100vw;
}

h1{
    display: flex;
    align-items: center;
    font-size: 30px;
}

h3{
	margin-left: 15px;
}

main{
    display: contents;
}

select{
	margin: 10px 0 10px 0;
}

.main-container{
	flex-direction: column;
	margin: 0;	
}

.right-container{
	margin-top : 30px;
	max-width: 350px;
	padding: 25px;
}

.left-container{
	margin-top: 30px;
	padding-right: 0;
}

.borrow-container, .additional-container{
	flex-direction: column;
	min-width: 400px;
	max-width: 100vw;
}

.borrow-container .container, .additional-container .container{
	padding: 0;
}

form {
	margin: 20px 0;
}

.right-container form > .tables{
	padding: 0;
}

form > .tables{
	flex-direction: column;	
	padding: 0 0 15px 15px;
}

.tables{
	min-width: 335px;
}

.inner-table{
	max-width: 100vw;
	min-width: 350px;
	padding: 30px 0 0 0;
}

.borrow-tables{
	padding: 0 0 30px 15px;
	width: 100vw;
}

table{
	font-size: 0.75em;
	padding-left: 15px;
}

table, th, td{
	margin: 0 0 0 15px;
	width: 90vw;
}

footer{
    display: flex;
    flex-direction: column;
    height: max-content;
}

footer .inner-footer{
	display: block;
	text-align: center;
}