*{
	margin: 0;
	padding: 0;
}

@font-face{
    font-family: lato;
    src: url("../fonts/Lato-Regular.ttf")
}

@font-face{
	font-family: lato-bold;
	src: url("../fonts/Lato-Heavy.ttf")
}

@font-face{
	font-family: lato-light;
	src: url("../fonts/Lato-Light.ttf")
}

@keyframes apparition{
    from {
        opacity: 0;
        transform: translateY(0px) translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px) translateX(0px);
    }
}

body{
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: lato;
	justify-content: space-between;
	min-height: 100vh;
	width: 100vw;	
}

header{
	font-family: lato;
	height: max-content;
	width: 100vw;	
}

h1{
	background-color: #fb6b00;
	color: #FFFFFF;
	font-family: lato-bold;
	font-size: 2.5em;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
}

h2{
	font-size: 1.2em;
	text-align: left;	
	text-transform: uppercase;
}

.borrow-container h2{
	text-align: center;
}

h3{
	font-family: lato-light;
	margin-bottom: 15px;
}

nav{
	border-bottom: 4px solid orange;
	display: flex;
	margin: auto;
	font-family: lato-light;
	font-size: 1.2em;
	padding: 20px 0 10px 0;
	width: max-content;
}

a, a:visited{
	color: #4F4F4F;
	padding: 0 10px;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

select{
	margin: 10px auto;
	min-width: 350px;
	width: max-content;
}

label{
	padding-right: 10px;
	text-align: left;
}

input[type="submit"]{
	margin: 10px auto;
	padding: 5px;
	width: max-content;
}

input[type="text"]{
	background-color: #CCCCCC;
	border: none;
	height: 25px;
	margin-bottom: 10px;
	outline: none;
	text-align: center;
	width: 350px;
}

table,th,td{
	background-color: #FFFFFF;
	border: 1px solid #9a9996;
	border-collapse: collapse;
	margin: 20px auto;	
	padding: 3px;
	width: 40vw;
}

.tables{
	background-color: #F3F3F3;
	display: flex;
	justify-content: space-between;
	min-width: 450px;
}

.borrow-tables{
	background-color: #F3F3F3;
	display: flex;
	flex-direction: column;
}

.inner-table{
	background-color: #F3F3F3;
	min-width: 400px;
	max-width: 800px;
	padding: 30px 50px 0 50px;
}

.main-container{
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 75px;
   	position: relative;
   	padding-bottom: 35px;   /* Hauteur du pied de page */
}

.left-container{
	padding-right: 150px;
}

.right-container{
    background-color: #F3F3F3;
    padding: 30px;
	width: 500px;
}

.borrow-full-container, .additional-full-container{
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.borrow-container, .additional-container{
	background-color: #F3F3F3;
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
	min-width: 471px;
}

.borrow-container .container, .additional-container .container{
	display: flex;
	justify-content: space-between;
	min-width: 350px;
	padding-left: 20px;
}

form{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.homeForm{
	padding: 0;
}

.homeForm>div{
	margin: 10px 0;
}

legend{
	position: relative;
    top: -25px;
    width: max-content;
    margin: auto;
    background-color: white;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
}

span{
	color: red;
}

footer{
	background-color: #FB6B00;
	color: #FFFFFF;
	display: flex;
	height: 35px;	
	justify-content: center;
	margin-top: 30px;
	width: 100vw;
}

footer .inner-footer{
	padding: 10px;
}

footer a, footer a:visited{
	color: #FFFFFF;
}

footer a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}